body{font: 100px;;

}
.navbar {
    background-color: rgb(98, 192, 98);
}

.quem-somos {
    background-color: rgb(93, 93, 231);
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: rgb(187, 187, 247);
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}
